body {
	min-width:350px;
	overflow-x:hidden;
	font-family: "Lucida Grande", Arial, Ubuntu, sans-serif;
	color: #333;
	font-size: 12px;
	margin: 0;
	padding: 0;
	background: #f2f2f2;
}
a {
	color: #2e6dc8;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
form {
	border: 0;
	margin: 0;
	padding: 10px;
	padding-left: 0;
	padding-right: 16px;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	overflow: auto;
	box-shadow: 0 1px 0 rgba(0,0,0,0.15), 0 0px 6px rgba(0,0,0,0.4);
	background-image: -webkit-linear-gradient(bottom, rgb(226,226,226) 0%, rgb(255,255,255) 100%);
}

.mendeley-button {
	position: absolute;
	top: 0;
	left: 9px;
}

#search {
	margin-left: 52px;
}

.search-box {
	-webkit-appearance: none;
	width: 100%;
	margin: 0;
	font-size: 12px;
	padding: 3px;
	border-top: 1px solid #a2a2a2;
	border-right: 1px solid #b4b4b4;
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #b4b4b4;
	border-radius: 50px;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

.feed-title {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #797979;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
	padding: 5px 10px;
	border-top: 1px solid #b8b8b8;
	background-image: -webkit-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(225,225,225) 100%);
}

#feed-items {
	margin-top: 65px;
}

.feed-item {	
	margin: 0;
	clear: left;
	background: #f2f2f2;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
	word-wrap: break-word;
}

.feed-item .padding {
	margin: -1px 0;
	padding: 10px 10px 10px 6px;
	border-left: 4px solid rgba(255,255,255,0);
}

.feed-item:hover .padding {
	border-left: 4px solid #dfdfdf;
}

.feed-item.unread {
	background: #fff;
}

.unread .padding,
.unread:hover .padding {
	border-left: 4px solid #7ac5f5;
}

.feed-item .photo {
	float: left;
	margin-right: 10px;
}
.feed-item header {
	margin-left: 35px;
	font-size: 12px;
}

.feed-item header a {
	font-weight: bold;
	color: #666;
	text-decoration: none;
}

.feed-item:hover header a,
.feed-item.unread header a {
	color: #222;
}

.feed-item a {
	color: #666;
}

.feed-item:hover a,
.feed-item.unread a {
	color: #2e6dc8;
}

.feed-item .main-content {	
	margin-top: 5px;
	margin-left: 43px;
}

.feed-item .comments {
	border-left: 3px solid #ddd;
	border-top: 1px solid #ddd;	
	margin-top: 5px;
	font-size: 11px;
	margin-right: -10px;
	margin-left: 43px;
}
.feed-item .comment {	
	clear: left;
	padding: 5px;
	min-height: 28px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
	background: #f2f2f2;
	word-wrap: break-word;
}

.feed-item .comment .photo {
	margin-right: 8px;
}

.photo img {
	background: 1px solid #fff;
	padding: 1px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
.feed-item .comment .content {
	margin-left: 30px;
}
.feed-item .feed-link {	
	margin-top: 5px;
	display: inline-block;
	font-size: 11px;
	font-family: "Lucida Grande", Arial, Ubuntu, sans-serif;
}  

.import-buttons {
	padding: 0 0 5px 0;
	overflow: auto;
	margin-left: 52px;
}

a.button-link {
	display: inline-block;
	color: #222;
	padding: 3px 8px;
	font-size: 11px;
	font-family: "Lucida Grande", Arial, Ubuntu, sans-serif;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(bottom, rgb(226,226,226) 0%, rgb(255,255,255) 100%);
}

#logged-out {
	height: 200px;
	background: #f2f2f2;
	margin: 0;
}

#login-prompt {
	color: #666;
	font-size: 11px;
	padding: 150px 60px 0 60px;
	text-align: center;
}

a.permalink {
	margin-left: 43px;
}