body {
	min-width:350px;
	overflow-x:hidden;
	font-family: arial;
	font-size: 12px;
}
a {
	color: #A70805;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
form {
	border: 0;
}
#search {	
	position: relative;
	width: 330px;
	border-bottom: 1px solid #CACACA;
	margin-bottom: 10px;
}
#search-box {
	position: relative;
	height: 26px;
	width: 300px;
	border: 1px solid #CACACA;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#search-box input[type="text"] {
	margin: 0;
	margin-top: 3px;
	margin-left: 5px;
	border: 1px solid white;
	outline: none;
	font-size: 14px;
	font-family: Arial,Helvetica,Sans-serif;
	font-style: italic;
	color: #999;
	padding: 1px 0;
	float: left;
	width: 98%;
}
#search-box input[type="text"].focus {
	font-style: normal;	
	color: black;
}
.search-btn {
	border: 1px solid #CACACA;
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	width: 31px;
	height: 28px;
	text-indent: 40px;
	overflow: hidden;
	background: #E9E9E9 url(../images/search_btn.png) -6px 50% no-repeat;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.search-btn:hover {
	background: #F2F2F2 url(../images/search_btn.png) -46px 50% no-repeat;
	border: 1px solid #939393;
	text-decoration: none;
	z-index: 11;
}
#feed-items {
	margin-top: 10px;
	margin-bottom: 10px;
}
.feed-item {	
	clear: left;
	width: 318px;
	margin-top: 5px;	
	padding: 5px;
	border: 1px solid #eee;
	border-radius: 5px;
}
.feed-item.unread {
	border: 1px solid #555;
}
.feed-item .photo {
	float: left;
}
.feed-item header {
	margin-left: 35px;
	min-height: 30px;
	font-size: 14px;
}
.feed-item .main-content {	
	clear: left;
	margin-top: 5px;
}
.feed-item .main-content a {
	font-weight: bold;
	cursor: default;
	color: black;
} 
.feed-item .main-content a:hover {
	text-decoration: none;
}
.feed-item .comments {
	background: #eee;
	padding: 5px;
	padding-top: 0px;	
	margin-top: 5px;
}
.feed-item .comment {	
	clear: left;
	padding-top: 5px;
	min-height: 25px;
}
.feed-item .comment .photo {
	float: left;
}
.feed-item .comment .content {
	margin-left: 30px;
}
.feed-item .feed-link {	
	margin-top: 5px;
	display: block;
	font-size: 10px;
}  